<!DOCTYPE html>
<html>

<head>

    <title>Appointment Booking</title>

</head>

<body style="
font-family:Arial;
background:#eaf4ff;
">

    <div style="
max-width:700px;
margin:auto;
background:white;
padding:40px;
border-radius:20px;
margin-top:50px;
">

        <h1 style="
text-align:center;
color:#0077ff;
">

            Doctor Appointment Booking

        </h1>

        <br>

        <label>Select Doctor</label>

        <select style="
width:100%;
padding:15px;
margin-top:10px;
">

            <option>

                Dr. Samruddhi patil — General physician

            </option>

            <option>

                Dr. Siddhi dhaigude — Cardiologist

            </option>

            <option>

                Dr. Mehta — Neurologist

            </option>

        </select>

        <br><br>

        <label>Select Date</label>

        <input type="date" style="
width:100%;
padding:15px;
">

        <br><br>

        <label>Select Time</label>

        <input type="time" style="
width:100%;
padding:15px;
">

        <br><br>

        <div style="text-align:center;">

            <button style="
background:#0077ff;
color:white;
padding:15px 30px;
border:none;
border-radius:10px;
cursor:pointer;
">

                Book Appointment

            </button>

        </div>

        <br><br>

        <div style="text-align:center;">

            <a href="javascript:history.back()">

                <button style="
background:green;
color:white;
padding:15px 30px;
border:none;
border-radius:10px;
">

                    Back To Home

                </button>

            </a>

        </div>

    </div>

</body>

</html>